html {
   background-image: url('../img/large-banner-image.png');
   background-repeat: no-repeat;
}

.header > h1{
  font-size: 60px;
  position: relative;
  top: 105px;
  left: 485px;
}
.header > p{
  font-size: 36px;
  position: relative;
  top: 240px;
  left: 275px;
}
div.logo {
   position: relative;
   left: 420px;
}

div.white {
  background-color: #ffffff;
  position:relative;
  top:700px;
  height: 500px;
  width: auto;
}

div.gray {
  background-color: #e3e3e3;
  position:relative;
  top: 700px;
  height: 425px;
  width: auto;
}
